<div class="card">
<h5 class="center"><%= drink.name %></h5>
<% if drink.image_path%>
<img src=<%= drink.image_path%>>
<% end %>
  <ul class="drink_info">
    <li>Category:  <%= drink.category %></li>
    <li>Rating:  <%= drink.rating %></li>
    <li>Bar:  <%= drink.bar %></li>
    <li>Location:  <%= drink.location %></li>
  </ul>
  <a class="button" href="/drinks/<% drink.id %>/edit %">Edit</a>
  <form action='/drinks/<%= drink.id %>' method="post">
    <input type='hidden' id='hidden' name='_method' value='delete'>
    <input type='submit' value='Delete'>
  </form>
</div>