<div class="card">
<h5 class="center"><%= drink.name %></h5>
<div class="center">
  <h6>served at  <%= drink.bar %></h6><br>
  <h6>in <%= drink.location %></h6><br>
</div>
<% if drink.image_path%>
<img src=<%= drink.image_path%>>
<% end %>
  
    Category:  <%= drink.liquor %> <%= drink.served %><br>
    Rating:  <%= drink.rating %><br>
    
    <h6 class="center">Drink enjoyed by tikiphile <br> <%= drink.user.name%></h6>
  
  </form>
</div>