<div class="card">
  <h5 class="center"><%= drink.name %></h5>
    <div class="center">
      <p>served at</p>
      <h5><%= drink.bar %></h5><br>
      <p>in <%= drink.location %></p>
    </div>

    <% if drink.image_path%>
    <img src=<%= drink.image_path%>>
    <% end %>

  <p><%= drink.liquor %> <%= drink.served %></p>
  <h6>Rating:  <%= drink.rating %></h6>

  <p class="center">Drink enjoyed by tikiphile <br> <%= drink.user.name%></p>
</div>